<div class="banner">
  <div class="banner-text">
    <h1>Charles Konsbruck Heimservice</h1>
    <p>Der exklusive Heimservice in München in Zeiten des COVID-19 Virus.</p>
  </div>
  <div class="fade"></div>
</div>
