<div class="banner">
  <div class="banner-text">
    <h1>Charles Konsbruck - Premium Autowäsche</h1>
    <p>Die exklusive Autowäsche in München in Zeiten des COVID-19 Virus.</p>
  </div>
  <div class="fade"></div>
</div>
