<div class="footer">
  <div class="row align-items-center">
    <p>Kontaktier mich auch gern auf Insta...</p>
    <%= link_to 'https://www.instagram.com/charles.kon/', target:'_blank' do %>
      <div class="icon-container footer-icon-container">
        <i class="fab fa-instagram"></i>
      </div>
    <% end %>
  </div>
  <div class="row mt-3 signature align-items-center">
    <p>Made by Bjarne Hinkel</p>
    <i class="far fa-copyright"></i>
    <p>twentytwenty</p>
  </div>
</div>
