<div class="footer">
  <div class="row align-items-center">
    <p>Kontaktieren Sie mich auch gerne direkt...</p>
  </div>
  <div class="row">
    <%= link_to 'https://www.instagram.com/charles.kon/', target:'_blank' do %>
      <div class="icon-container footer-icon-container">
        <i class="fab fa-instagram"></i>
      </div>
    <% end %>
    <%= link_to 'mailto:konsbruckcharles@gmail.com', target:'_blank' do %>
      <div class="icon-container footer-icon-container">
        <i class="far fa-envelope"></i>
      </div>
    <% end %>
  </div>
  <%= link_to 'http://www.bjarnehinkel.com', target:'_blank' do %>
    <div class="row signature align-items-center mb-2">
      <p>Made by </p>
      <p class="plug">Bjarne Hinkel</p>
      <i class="far fa-copyright"></i>
      <p>twentytwenty</p>
    </div>
  <% end %>
</div>
