<div class="step-card">
  <div class="container">
    <div class="icon-container">
      <i class="fas fa-phone"></i>
    </div>
    <div class="card-text">
      <p><strong>Schritt 2:</strong> Kontaktieren sie mich! Sie können mir über den Knopf unten eine Mail schreiben, mich anrufen (unter der +49 176 7213 8782), oder mir eine Nachricht bei Instagram schreiben. Nach der Kontaktaufnahme machen wir einen Termin aus und klären ab, wobei ich ihnen helfen kann.</p>
    </div>
  </div>
</div>
