<div class="step-card">
  <div class="container">
    <div class="icon-container">
      <i class="fas fa-check"></i>
    </div>
    <div class="card-text">
      <p><strong>Schritt 3:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate accusantium, dolorem rem, tenetur, exercitationem animi id adipisci ab aperiam perferendis asperiores cum velit voluptate est placeat incidunt inventore magni cumque!</p>
    </div>
  </div>
</div>
