<div class="step-card">
  <div class="container">
    <div class="icon-container">
      <i class="fas fa-question"></i>
    </div>
    <div class="card-text">
      <p><strong>Schritt 1:</strong> Überlegen Sie sich was Sie brauchen! Ich biete ihnen meine Hilfe in sämtlichen Berreichen des Haushalts an. Ob Sie wollen dass ich ihren Einkauf erledige, ihr Auto wasche, mit ihren Hunden eine Runde gehe oder ihre Fenster Putze. Wenn Sie etwas Anderes benötigen fragen Sie mich einfach!</p>
    </div>
  </div>
</div>
