<div class="step-card">
  <div class="container">
    <div class="icon-container">
      <i class="fas fa-check"></i>
    </div>
    <div class="card-text">
      <p><strong>Schritt 3:</strong> Entspannen Sie sich! Lehnen Sie sich zurück und gehen Sie ihrem Quarantäne-Alltag nach während ihre Haushaltsaufgaben von mir erledigt werden. Ob Sie somit ein wenig mehr Zeit mit ihren Kindern verbringen können oder einfach ein wenig Ruhe genießen - jedem ist geholfen.</p>
    </div>
  </div>
</div>
