.profile-card{
 height: 500px;
 border-radius: 8px 8px 0 0;
 box-shadow: 0 0 20px 5px rgba(0,0,0,0.2);
 margin-top: 100px;
}

.carousel-inner{
  height: 500px!important;
  border-radius: 8px 0 0 0;
}

.carousel-item > img{
  height: 500px!important;
  object-fit: cover;
}

.description-charles{
  text-align: center;
  h1{
    font-family: $header-font-cursive;
    font-weight: bold;
    margin-top: 20px;
  }
  ul{
    text-align: left;
    margin-top: 30px;
    font-size: 20px;
    line-height: 200%;
  }
  p{
    text-align: left;
    font-size: 20px;
    margin: 60px 0 0 20px;
  }
}

.img-right{
  object-position: right;
}

.virus-security{
  background-color: #F8CFCF;
  border: 1px solid #F7C0C0;
  color: #8c1013;
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: 0 0 8px 8px;
  i{
    flex-grow: 1;
    font-size: 50px;
  }
  p{
    font-size: 16px;
    margin: 0;
  }
  .security-text{
    width: 90%;
  }
}
